{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<section id="welcome-world">
        <div class="welcome-message">
            <h3>Who we are:</h3>
            <p>We are an event management company. We've been helping farms/companies to increase their availability of assorted goods
                to the general consumer since 2010. We are a proud Amazing Foods TM partner and pride ourselves on the
                success we brought to our clients as well as the quality food we help transport and bring to their customer's
                table. Our team is made up of smart and talented people that are passionate about expanding our services.
            </p>
            <h3>What we do:</h3>
            <p>
                We offer an easy way for our customer and companies alike to give and get information on the diverse
                number of farms and their produce. It is an easy way for customers to preview what will be sold on the farmers
                market, without them wasting their time on unnecessary browsing. They will have their decision made the very moment
                they enter the market's grounds. We also provide a convenient way for diverse companies/farm to display their produce
                before they even reach their stands.
            </p>
        </div>
        <img src="{%  static 'images/farmers market image.jpg' %}" alt="hero">
    </section>
{% endblock %}